<%- include('./partials/header') %>
    <%- include('./partials/nav') %>

     <h1 class="text-2xl font-bold flex justify-center">This Is Profile Page</h1>
     <a href="/users/logout" class="text-l text-white bg-red-500 p-2 ml-[90.5%] " >log out</a>

<%- include('./partials/footer') %>
   